* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
#name {
  font-family: "Playfair Display", serif;
  font-size: 9.5vmax;
  position: absolute;
  margin: auto;
  height: min-content;
  top: 0;
  bottom: 0;
  left: 2vw;
  color: white;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20,20,20,0.7);
}
.section {
  width: 100vw;
  height: 100vh;
  margin-left: 0;
}
.section h2 {
  font-family: "Playfair Display", serif;
  font-size: 8vmax;
  margin-left: 8vmax;
  margin-bottom: 5vh;
}
.section p {
  font-family: "Raleway", sans-serif;
  margin: auto;
  margin-top: 2vmax;
  font-size: 2.0vmax;
  line-height: 2.5vmax;
  width: 80vw;
  margin-right: 5vw;
  text-align: right;
}
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #313e56;
  color: white;
}
#title {
  background: url(./static/bg1.JPG);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#title p {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  font-size: 15vmin;
  width: 10vmin;
  height: 15vmin;
  color: rgba(255,255,255,0.5);
  transition: color 1s;
}
#title p:hover {
  color: rgba(0,0,0,0.5);
}
footer {
  height: 40vh;
  background-color: #252628;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}
footer > div > a { transition: color 0.6s; color: white; }
footer > p > a { color: #919191; }
footer > div > a:hover { color: rgba(0,0,0,0.5); }
footer > p > a:visited {
  color: #919191;
}
footer div {
  font-size: 12vmin;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60vw;
  height: 20vh;
}
footer a:visited {
  color: white;
}

@media (max-width: 100vh) {
}
